{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section class="container pb-5">
        <h1 class="my-5 text-center">Ajouter un nouvel <strong class="text-primary font-italic">évènement</strong></h1>

        {{ include('admin_entertainement/_form.html.twig') }}

        <a href="{{ path('admin_dashboard') }}" class="btn btn-danger">Retour au dahsboard</a>
    </section>
{% endblock %}
