{% extends 'layoutAdmin.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.css" 
    integrity="sha256-r2s/dK+UgUBU0+4kDK93RVTOO5qbzD+XIRJDOxKlTFM=" 
    crossorigin="anonymous">
    <style>
        #calendar {
            width: 80%;
            height: 100%;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="background-admin-image"></div>

    <section class="mt-5 bg-dark">
        <div id="calendar" class="text-primary p-3"></div>
    </section>

    <section class="py-5 container">
        <h1 class="text-center mb-5">Bienvenue sur votre <span class="text-primary">espace</span> administrateur</h1>
        <div class="dashboard d-flex flex-column">
            <div class="container-onglets">
                <div data-anim="1" class="onglet active"><p class="mb-0">Wilfers</p></div>
                <div data-anim="2" class="onglet"><p class="mb-0">Evènements</p></div>
                <div data-anim="3" class="onglet"><p class="mb-0">Commentaires</p></div>
                <div data-anim="4" class="onglet"><p class="mb-0">F.A.Q</p></div>
            </div>
            <div class="container-contents">
                <div data-anim="1" class="content activeContent">
                    {% include 'admin_wilfer/index.html.twig' %}
                </div>
                <div data-anim="2" class="content d-none">
                    {% include 'admin_entertainement/index.html.twig' %}
                </div>
                <div data-anim="3" class="content d-none">
                    {% include 'admin_comment/index.html.twig' %}
                </div>
                <div data-anim="4" class="content d-none">
                    {% include 'admin_faq/indexAdmin.html.twig' %}
                </div>
            </div> 
        </div>
    </section>

{% endblock %}


{% block javascripts %}
{# START - Full Calendar #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.0/main.min.js" 
    integrity="sha256-vB0AxkwD8fMGdgwuIfLl+VhH2pFA0ZtJdAJe4OHRKcs=" 
    crossorigin="anonymous">
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            headerToolbar: {
                left: 'prev,next today', center: 'title', right: 'dayGridMonth, timeGridWeek',
            },
            titleFormat: {
                year: 'numeric', month: 'long', day: 'numeric',   // like 'September 8 2009', for day views
            }
        });
        calendar.render();
    });
    </script>
{# END - Full Calendar #}

    {{ parent() }}

{# START - Admin Onglet Fenêtres #}
    <script>
        const onglets = document.querySelectorAll('.onglet');
        const contents = document.querySelectorAll('.content');

        let index= 0;

        onglets.forEach(onglet => {
            onglet.addEventListener('click', () => {
                if(onglet.classList.contains('active')){
                    return;
                } else {
                    onglet.classList.add('active');
                }
        
                index = onglet.getAttribute('data-anim');
                console.log(index)

                for(i = 0; i < onglets.length; i++ ){
                    if(onglets[i].getAttribute('data-anim') != index){
                        onglets[i].classList.remove('active');
                    }
                }

                for(j = 0; j < contents.length; j++){
                    if(contents[j].getAttribute('data-anim') == index){
                        contents[j].classList.add('activeContent');
                        contents[j].classList.remove('d-none');
                    } else {
                        contents[j].classList.remove('activeContent');
                        contents[j].classList.add('d-none');
                    }
                }
            })
        });
    </script>
{# END - Admin Onglet Fenêtres #}
{% endblock %}