@import "app";

.background-account-image {
  background-image: url("../images/wilfer7.jpg");
  background-size: cover;
  background-position: 0 17%;
  height: 25vh;
  filter: brightness(50%);
  box-shadow: 0 5px 5px darken($grey, 20%);
}

.section-personnal-infos {
  background:linear-gradient(
    135deg,
    rgba($grey, 1) 0%,
    rgba(183, 154, 53, 0.6993172268907564) 20%,
    rgba(183, 154, 53, 0.8869922969187675) 50%,
    rgba(183, 154, 53, 0.6993172268907564) 75%,
    rgba($grey, 1) 100%,
  );
  box-shadow: 0px 10px 10px darken($grey, 15%);
}

.wilfer-card {
  border: 2px solid darken($primary, 5%);
  border-radius: 8px;
  box-shadow: 0 5px 5px darken($grey, 20%);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(183, 154, 53, 0.8869922969187675) 49%,
    rgba(183, 154, 53, 0.6993172268907564) 100%
  );
}

.heart-icon {
  width: 30px;
  height: 30px;
}

.wilfer-card {
  position: relative;

  .div-heart-icon {
    position: absolute;
    top: -15px;
    right: -15px;
  }
}

.wilfer-picture {
  width: 170px;
  height: 200px;
  object-fit: cover;
  border: 2px solid darken($primary, 5%);
  border-radius: 8px;
}

a.wilfer-card-btn, 
button.submit-btn {
  color: $primary;
  border: 2px solid darken($primary, 15%);
  background-color: $light;
}

a.wilfer-card-btn:hover,
button.submit-btn:hover {
  color: $light;
  border: 2px solid darken($light, 25%);
  background-color: darken($primary, 15%);
}
