@import 'app';

.logo-user {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 2px solid $light;
  border-radius: 50%;
}

input {
  color: $dark;
}

label {
  color: $dark;
  font-style: normal;
  font-weight : normal;
}

a.btn-danger {
  font-style: normal;
}

// background image
.background-admin-image {
  background-image: url("../images/wilfer9.jpg");
  background-size: cover;
  background-position: 0 20%;
  height: 25vh;
  filter: brightness(50%);
  box-shadow: 0 5px 5px grey;
}