$light: #f1f1f1;
$dark: #0f0f0f;

$grey: #E5E5E5;

$primary: #b79a35;
$secondary: darken($primary, 20%);
$info: lighten($primary, 30%);

$text-font: 'Baskerville', sans-serif;
$title-font: 'Playfair Display', serif;
$logo-font: 'Playfair Display', serif;

$font-size: 20px;