$light: #ffffff;
$dark: #000000;

$grey: #E5E5E5;

$primary: #B79A35;
$secondary: darken($grey, 50%);

$text-font: 'Baskerville', sans-serif;
$title-font: 'Playfair Display', serif;
$logo-font: 'Playfair Display', serif;