@import 'app';

.background-wilfers-image {
    background-image: url("../images/wilfer3.jpg");
    background-size: cover;
    background-position: top;
    height: 25vh;
    filter: brightness(50%);
    box-shadow: 0 5px 5px darken($grey, 20%);
}

.background-wilfers {
    position: relative
}

.text-on-background {
    position: absolute;
    top: 40%;
}

.btn-search {
    > button {
        color: $light;
        border: 2px solid darken($light, 25%);
        background-color: darken($primary, 15%);
    }

    > button:hover {
        color: $primary;
        border: 2px outset darken($primary, 15%);
        background-color: $light;
    }
}

.btn-reini {
    > a {
        color: $primary;
        border: 2px outset darken($primary, 15%);
        background-color: $light;
    }

    > a:hover {
        color: $light;
        border: 2px solid darken($light, 25%);
        background-color: darken($primary, 15%);
    }
}


.heart-icon {
    width: 30px;
    height: 30px;
}

.wilfer {
    position: relative;
    box-shadow: 0 5px 5px darken($grey, 20%);
    border-radius: 8px;
    border: 2px solid lighten($primary, 25%);
    background: linear-gradient(135deg, rgba($primary,1) 0%, rgba($dark,1) 24%, rgba($dark, 1) 81%, rgba($primary,1) 100%);
    .div-heart-icon {
        position: absolute;
        z-index: 10;
        top: 5px;
        right: 5px;
    }
}

.wilfer-div-text a {
    color: $primary;
    border: 2px outset darken($primary, 15%);
    background-color: $light;
    &:hover {
        color: $light;
        border: 2px solid darken($light, 25%);
        background-color: darken($primary, 15%);
    }
}

.wilfer-picture {
    width: 170px;
    height: 200px;
    object-fit: cover;
    border: 2px solid lighten($primary, 25%);
    border-radius: 8px;
}


// the page showing one specific wilfer
ul li {
    margin: 1em 0;
}
ul li span:first-child {
    padding: 10px 20px;
    background: black;
}
ul li span:last-child {
    padding: 10px 20px;
    background: #B79A35;
    color: whitesmoke;
}
.wilfer-selfie {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    box-shadow: 3px 3px 10px grey;
    object-fit: cover;
}
.one-comment {
    min-width: 50%;
    width: auto;
    border-top: 3px outset whitesmoke;
    border-left: 3px outset whitesmoke;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px lightgrey;
    transition: 0.5s ease;
}
.one-comment:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px lightgrey;
}

.one-comment.active {
    display: block;
    animation: fade 10s; 
}

#comment div.form-group:nth-child(3){
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(0%)
    }
    100% {
        opacity: 0;
        transform: translateX(100%)
    }
}