{% extends 'layoutAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Wilfer{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
    <section class="container pb-5">
        <h1 class="text-center py-5">Ajouter un nouveau <strong class="text-primary font-italic">wilfer</strong></h1>

        {{ include('admin_wilfer/_form.html.twig') }}
    </section>

{% endblock %}
